*{
    box-sizing: border-box;
    margin:0;
    padding:0;
   
}
#container{
    width:100%;
    border:2px solid greenyellow;
 
}
h2{
    text-align: center;
}
.box{

    display: inline-block;
    border:2px solid black;
    position:relative;
 
    width:33%;
    height: 100px;
    padding:10px;
    overflow: hidden;
    background-color: grey;
  
  
}
span{
    border:2px solid black;
    width:100px;
    position: absolute;
    top:0%;
    right:0px; 
    text-align: center;  
}
#s1{
    background-color: rgb(235, 149, 149);
}
#s2{
    background-color: rgb(163, 76, 76);
    color:white;
}
#s3{
    background-color: rgb(229, 240, 86);
}
/* for pc or dektop*/
@media (min-width:992px){
    .box{
        width:33%;
    }
}
/* for tablets*/
@media (min-width:768px) and (max-width:991px){
   
    #box1,#box2{
        width:40%;
    }
    #box3{
        width:100%;
    }
}
/*for mobile*/
@media (max-width:767px){
    .box{
      width:100%;
    }
}